<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>

    <link rel="shortcut icon" href="../public/images/favicon.png">
    <link rel="stylesheet" type="text/css" href="../public/css/login.css">

    <script type="text/javascript">
        window.history.forward();
        /*
        function noBack() {
            window.history.forward();
        };*/
    </script>
</head>

<body>
    <div class="container">
        <div class="container-login">
            <div class="wrap.login">
                <form action="/login" method="post" class="login-form">
                    <span class="login-form-title">
                        Faça o login
                    </span>
                    <% if(message) { %>
                        <p>
                            <span id="message" class="error-usuario">
                                <%= message %>
                            </span>
                        </p>
                        <% } %>
                            <div class="wrap-input margin-top-35 margin-bottom-35">
                                <input required class="input-form" type="text" name="usuario" autocomplete="off" />
                                <span class="focus-input-form" data-placeholder="Usuario"></span>
                                <span class="error span-error"></span>
                            </div>

                            <div class="wrap-input margin-bottom-35">
                                <input required class="input-form" type="password" name="senha" />
                                <span class="focus-input-form" data-placeholder="Senha"></span>
                                <span class="error span-error"></span>
                            </div>

                            <div class="container-login-form-btn">
                                <input class="login-form-btn" type="submit" value="Login">
                            </div>

                            <!--<ul class="login-utils">
                        <li class="margin-top-8 margin-bottom-8">
                            <span class="text1">
                                Esqueceu a
                            </span>
                            <a href="#" class="text2">
                                senha ?
                            </a>
                        </li>
                        <li>
                            <span class="text1">
                                Não possui conta?
                            </span>
                            <a href="#" class="text2">
                                Criar
                            </a>
                        </li>
                    </ul>-->
                </form>
            </div>
            <img src="../public/images/Acqua.png" alt="logo" width="500" height="250" class="margin-left-100" />
        </div>

    </div>
    <script>
        let inputs = document.getElementsByClassName("input-form");
        for (let input of inputs) {
            input.addEventListener("blur", function () {
                if (input.value.trim() != "") {
                    input.classList.add("has-val");
                } else {
                    input.classList.remove("has-val");
                }
            });
        }
    </script>

    <script src="../public/scripts/eventoslogin.js"></script>
    <script src="../public/scripts/auth.js"></script>
</body>

</html>