<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Acqua</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <link rel="icon" href="data:,">

    <style>
        @media (min-width: 500px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }

        .b-example-divider {
            width: 100%;
            height: 3rem;
            background-color: rgba(0, 0, 0, .1);
            border: solid rgba(0, 0, 0, .15);
            border-width: 1px 0;
            box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
        }

        .b-example-vr {
            flex-shrink: 0;
            width: 0.5rem;
            height: 100vh;
        }
    </style>

    <!-- Custom styles for this template -->
    <link href="../public/css/Qualidade_Dados.css" rel="stylesheet">
    <script>
        import {linhas} from "../public/scripts/tabelaestacao.js";
        function tabela() {
            var tabela = document.getElementById("tabeladinamica");
            var tabela = document.createElement("table");
            var thead = document.createElement("thead");
            var tbody = document.createElement("tbody");
            var thd = function (i) { return (i = 0) ? "th" : "td"; };
            for (var i = 0; i < linhas.length; i++) {
                var tr = document.createElement("tr");
                for (var o = 0; o < linhas[i].length; o++) {
                    var t = document.createElement(thd(i));
                    var texto = document.createTextNode(linhas[i][o]);
                    t.appendChild(texto);
                    tr.appendChild(t);
                }
                (i == 0) ? thead.appendChild(tr) : tbody.appendChild(tr);
            }
            tabela.appendChild(thead);
            tabela.appendChild(tbody);
            //document.getElementById("tabeladinamica").appendChild(tabela);
            document.getElementById("tabeladinamica").append("Jair..");
        };
    </script>
</head>

<body>
    <header class="p-1 border-bottom" style="background-color: #068272;">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
            <span class="d-flex align-items-center mb-2 mb-lg-0">
                <img src="../public/images/Acqua.png" height="50" role="img" />
            </span>
            <div class=" me-lg-auto">
                <h4 class="text1">Qualidade dos Dados</h4>
            </div>
            <label for="usuario" class="label1">
                <%= nome %>
            </label>
            <div class="dropdown text-end">
                <span class="d-block dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                    <img src="https://github.com/Neto-1994.png" width="32" height="32" class="rounded-circle">
                </span>
                <ul class="dropdown-menu text-small">
                    <!--
              <li><a class="dropdown-item" href="#">New project...</a></li>
              <li><a class="dropdown-item" href="#">Settings</a></li>
              <li><a class="dropdown-item" href="#">Profile</a></li>
              <li>
                <hr class="dropdown-divider">
              </li>
            -->
                    <li><a class="dropdown-item tex fw-semibold" href="/sair">Sair</a></li>
                </ul>
            </div>
        </div>
    </header>

    <main class="d-flex flex-nowrap">
        <div class="flex-shrink-0" style="width: 250px;">
            <div class="row mb-3 text-center">
                <form id="form-botao">
                    <div class="col-md-11 fw-bold fs-5 themed-grid-col">Clientes</div>
                    <div class="col-md-11 themed-grid-col">
                        <div class="form-check">
                            <button id="gerartabela" class="btn btn-sm">MINERAÇÃO MARACÁ
                                INDÚSTRIA E COMÉRCIO
                                S/A</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="d-flex" style="height: 550px;">
            <div class="vr"></div>
        </div>
        <form id="tabeladinamica" class="flex-fill themed-grid-col">

        </form>
        <br>
    </main>

    <footer class="container border-top">
        <div class="d-flex flex-wrap justify-content-center">
            <p class="col-md-4 mb-0 text-body-secondary">&copy; 2023 Acqua Soluções Ambientais</p>
        </div>
    </footer>

    <script src="../public/scripts/tabelaestacao.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
        crossorigin="anonymous"></script>
</body>

</html>