<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Acqua</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">

    <link rel="icon" href="data:,">
    <style>
        @media (min-width: 500px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }

        .b-example-divider {
            width: 100%;
            height: 3rem;
            background-color: rgba(0, 0, 0, .1);
            border: solid rgba(0, 0, 0, .15);
            border-width: 1px 0;
            box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
        }

        .b-example-vr {
            flex-shrink: 0;
            width: 0.5rem;
            height: 100vh;
        }
    </style>

    <!-- Custom styles for this template -->
    <link href="../public/css/Qualidade_Dados.css" rel="stylesheet">
</head>

<body>
    <header class="p-1 border-bottom" style="background-color: #068272;">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
            <span class="align-items-center mb-2 mb-lg-0">
                <img src="../public/images/Acqua.png" height="50" role="img" />
            </span>
            <div class=" me-lg-auto">
                <h4 class="text1">Qualidade dos Dados</h4>
            </div>
            <label for="usuario" class="label1">
                <%= nome %>
            </label>
            <div class="dropdown text-end">
                <span class="d-block dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                    <img src="https://github.com/Neto-1994.png" width="32" height="32" class="rounded-circle">
                </span>
                <ul class="dropdown-menu text-small">
                    <!--
              <li><a class="dropdown-item" href="#">New project...</a></li>
              <li><a class="dropdown-item" href="#">Settings</a></li>
              <li><a class="dropdown-item" href="#">Profile</a></li>
              <li>
                <hr class="dropdown-divider">
              </li>
            -->
                    <li><a class="dropdown-item tex fw-semibold" href="/sair">Sair</a></li>
                </ul>
            </div>
        </div>
    </header>

    <main class="d-flex flex-nowrap">
        <div class="flex-shrink-0" style="width: 200px;">
            <div class="row mb-3 text-center">
                <form id="form-menu">
                    <div class="col-md-11 fw-bold fs-5 themed-grid-col">Clientes</div>
                    <div class="col-md-11 themed-grid-col">
                        <div>
                            <button class="btn btn-sm" type="button" onclick="gerartabela()">MINERAÇÃO MARACÁ
                                INDÚSTRIA E COMÉRCIO
                                S/A</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="d-flex" style="min-height: 550px;">
            <div class="vr"></div>
        </div>
        <div id="tabeladinamica" class="table-responsive">

        </div>
        <br>
    </main>

    <footer class="container border-top">
        <div class="d-flex flex-wrap justify-content-center">
            <p class="col-md-4 mb-0 text-body-secondary">&copy; 2023 Acqua Soluções Ambientais</p>
        </div>
    </footer>
    <script>
        async function gerartabela() {
            console.log("Executou função gerartabela..");
            limpardiv();
            const date = new Date();

            fetch('/qualidadedados/tabela')
                .then(response => response.json())
                .then(estacao => {
                    // Criando elementos da tabela
                    var tabela = document.createElement("table");
                    var thead = document.createElement("thead");
                    var tbody = document.createElement("tbody");

                    // Cabeçalho da tabela
                    var tr1 = document.createElement("tr");
                    var th1 = document.createElement("th");
                    var timeElapsed = Date.now();
                    var today = new Date(timeElapsed);
                    th1.innerHTML = today.toLocaleDateString();

                    // Formatando cabeçalho
                    th1.style.backgroundColor = "silver";
                    th1.colSpan = "27";

                    // Colunas da tabela
                    var tr2 = document.createElement("tr");
                    var th2 = document.createElement("th");
                    th2.innerHTML = "Estação";
                    var th3 = document.createElement("th");
                    th3.innerHTML = "Tipo";
                    var th4 = document.createElement("th");
                    th4.innerHTML = "Hora";
                    var th5 = document.createElement("th");
                    th5.innerHTML = "Observação";

                    // Formatando colunas
                    th2.rowSpan = "2";
                    th3.rowSpan = "2";
                    th4.colSpan = "24";
                    th5.rowSpan = "2";
                    th2.classList.add("align-middle");
                    th3.classList.add("align-middle");
                    th5.classList.add("align-middle");

                    // Adicionando células às linhas
                    tr1.appendChild(th1);
                    tr2.appendChild(th2);
                    tr2.appendChild(th3);
                    tr2.appendChild(th4);
                    tr2.appendChild(th5);

                    //Criando linha e células da linha
                    var tr3 = document.createElement("tr");
                    var h0 = document.createElement("td");
                    h0.innerHTML = "00h";
                    var h1 = document.createElement("td");
                    h1.innerHTML = "01h";
                    var h2 = document.createElement("td");
                    h2.innerHTML = "02h";
                    var h3 = document.createElement("td");
                    h3.innerHTML = "03h";
                    var h4 = document.createElement("td");
                    h4.innerHTML = "04h";
                    var h5 = document.createElement("td");
                    h5.innerHTML = "05h";
                    var h6 = document.createElement("td");
                    h6.innerHTML = "06h";
                    var h7 = document.createElement("td");
                    h7.innerHTML = "07h";
                    var h8 = document.createElement("td");
                    h8.innerHTML = "08h";
                    var h9 = document.createElement("td");
                    h9.innerHTML = "09h";
                    var h10 = document.createElement("td");
                    h10.innerHTML = "10h";
                    var h11 = document.createElement("td");
                    h11.innerHTML = "11h";
                    var h12 = document.createElement("td");
                    h12.innerHTML = "12h";
                    var h13 = document.createElement("td");
                    h13.innerHTML = "13h";
                    var h14 = document.createElement("td");
                    h14.innerHTML = "14h";
                    var h15 = document.createElement("td");
                    h15.innerHTML = "15h";
                    var h16 = document.createElement("td");
                    h16.innerHTML = "16h";
                    var h17 = document.createElement("td");
                    h17.innerHTML = "17h";
                    var h18 = document.createElement("td");
                    h18.innerHTML = "18h";
                    var h19 = document.createElement("td");
                    h19.innerHTML = "19h";
                    var h20 = document.createElement("td");
                    h20.innerHTML = "20h";
                    var h21 = document.createElement("td");
                    h21.innerHTML = "21h";
                    var h22 = document.createElement("td");
                    h22.innerHTML = "22h";
                    var h23 = document.createElement("td");
                    h23.innerHTML = "23h";

                    // Adicionando células à linha tr3
                    tr3.appendChild(h0);
                    tr3.appendChild(h1);
                    tr3.appendChild(h2);
                    tr3.appendChild(h3);
                    tr3.appendChild(h4);
                    tr3.appendChild(h5);
                    tr3.appendChild(h6);
                    tr3.appendChild(h7);
                    tr3.appendChild(h8);
                    tr3.appendChild(h9);
                    tr3.appendChild(h10);
                    tr3.appendChild(h11);
                    tr3.appendChild(h12);
                    tr3.appendChild(h13);
                    tr3.appendChild(h14);
                    tr3.appendChild(h15);
                    tr3.appendChild(h16);
                    tr3.appendChild(h17);
                    tr3.appendChild(h18);
                    tr3.appendChild(h19);
                    tr3.appendChild(h20);
                    tr3.appendChild(h21);
                    tr3.appendChild(h22);
                    tr3.appendChild(h23);

                    // Formatando linhas
                    tr1.align = "center";
                    tr2.align = "center";
                    tr3.align = "center";

                    // Adicionando linhas ao head da tabela
                    thead.appendChild(tr1);
                    thead.appendChild(tr2);
                    thead.appendChild(tr3);
                    tabela.appendChild(thead);

                    // Preenchendo body da tabela
                    fetch('/qualidadedados/transmissoes')
                        .then(response => response.json())
                        .then(transmissao => {
                            for (let i = 0; i < estacao.length; i++) {
                                var tr = tbody.insertRow();
                                var td_estacao = tr.insertCell();
                                var td_tipo = tr.insertCell();
                                var hora0 = tr.insertCell();
                                var hora1 = tr.insertCell();
                                var hora2 = tr.insertCell();
                                var hora3 = tr.insertCell();
                                var hora4 = tr.insertCell();
                                var hora5 = tr.insertCell();
                                var hora6 = tr.insertCell();
                                var hora7 = tr.insertCell();
                                var hora8 = tr.insertCell();
                                var hora9 = tr.insertCell();
                                var hora10 = tr.insertCell();
                                var hora11 = tr.insertCell();
                                var hora12 = tr.insertCell();
                                var hora13 = tr.insertCell();
                                var hora14 = tr.insertCell();
                                var hora15 = tr.insertCell();
                                var hora16 = tr.insertCell();
                                var hora17 = tr.insertCell();
                                var hora18 = tr.insertCell();
                                var hora19 = tr.insertCell();
                                var hora20 = tr.insertCell();
                                var hora21 = tr.insertCell();
                                var hora22 = tr.insertCell();
                                var hora23 = tr.insertCell();
                                var obs = tr.insertCell();

                                td_estacao.innerText = estacao[i].Nome_Estacao;
                                td_tipo.innerText = estacao[i].Tipo_Estacao;

                                for (let e = 0; e < transmissao.length; e++) {
                                    let hora_transmissao = transmissao[e].HoraLocal;
                                    let h = new Date(hora_transmissao)
                                    let hora_tr = h.getHours();

                                    switch (hora_tr) {
                                        case 23:
                                            if (hora_transmissao != null) {
                                                hora23.style.backgroundColor = "green";
                                                console.log("Entrou no if da case 23..", hora_tr);
                                            } else {
                                                hora23.style.backgroundColor = "red";
                                                obs.innerText = "Erro na recepção dos dados.";
                                                console.log("Entrou no else da case 23..", hora_tr);
                                            }
                                            break;
                                        case 22:
                                            if (hora_transmissao != null) {
                                                hora22.style.backgroundColor = "green";
                                                console.log("Entrou no if da case 22..", hora_tr);
                                            } else {
                                                hora22.style.backgroundColor = "red";
                                                obs.innerText = "Erro na recepção dos dados.";
                                                console.log("Entrou no else da case 22..", hora_tr);
                                            }
                                            break;
                                        case 21:
                                            if (hora_transmissao != null) {
                                                hora21.style.backgroundColor = "green";
                                                console.log("Entrou no if da case 21..", hora_tr);
                                            } else {
                                                hora21.style.backgroundColor = "red";
                                                obs.innerText = "Erro na recepção dos dados.";
                                                console.log("Entrou no else da case 21..", hora_tr);
                                            }
                                            break;
                                        case 20:
                                            if (hora_transmissao != null) {
                                                hora20.style.backgroundColor = "green";
                                                console.log("Entrou no if da case 20..", hora_tr);
                                            } else {
                                                hora20.style.backgroundColor = "red";
                                                obs.innerText = "Erro na recepção dos dados.";
                                                console.log("Entrou no else da case 20..", hora_tr);
                                            }
                                            break;
                                        case 19:
                                            if (hora_transmissao != null) {
                                                hora19.style.backgroundColor = "green";
                                                console.log("Entrou no if da case 19..", hora_tr);
                                            } else {
                                                hora19.style.backgroundColor = "red";
                                                obs.innerText = "Erro na recepção dos dados.";
                                                console.log("Entrou no else da case 19..", hora_tr);
                                            }
                                            break;
                                        case 18:
                                            if (hora_transmissao != null) {
                                                hora18.style.backgroundColor = "green";
                                                console.log("Entrou no if da case 18..", hora_tr);
                                            } else {
                                                hora18.style.backgroundColor = "red";
                                                obs.innerText = "Erro na recepção dos dados.";
                                                console.log("Entrou no else da case 18..", hora_tr);
                                            }
                                            break;
                                        case 17:
                                            if (hora_transmissao != null) {
                                                hora17.style.backgroundColor = "green";
                                                console.log("Entrou no if da case 17..", hora_tr);
                                            } else {
                                                hora17.style.backgroundColor = "red";
                                                obs.innerText = "Erro na recepção dos dados.";
                                                console.log("Entrou no else da case 17..", hora_tr);
                                            }
                                            break;
                                        case 16:
                                            if (hora_transmissao != null) {
                                                hora16.style.backgroundColor = "green";
                                                console.log("Entrou no if da case 16..", hora_tr);
                                            } else {
                                                hora16.style.backgroundColor = "red";
                                                obs.innerText = "Erro na recepção dos dados.";
                                                console.log("Entrou no else da case 16..", hora_tr);
                                            }
                                            break;
                                        case 15:
                                            if (hora_transmissao != null) {
                                                hora15.style.backgroundColor = "green";
                                                console.log("Entrou no if da case 15..", hora_tr);
                                            } else {
                                                hora15.style.backgroundColor = "red";
                                                obs.innerText = "Erro na recepção dos dados.";
                                                console.log("Entrou no else da case 15..", hora_tr);
                                            }
                                            break;
                                        case 14:
                                            if (hora_transmissao != null) {
                                                hora14.style.backgroundColor = "green";
                                                console.log("Entrou no if da case 14..", hora_tr);
                                            } else {
                                                hora14.style.backgroundColor = "red";
                                                obs.innerText = "Erro na recepção dos dados.";
                                                console.log("Entrou no else da case 14..", hora_tr);
                                            }
                                            break;
                                        case 13:
                                            if (hora_transmissao != null) {
                                                hora13.style.backgroundColor = "green";
                                                console.log("Entrou no if da case 13..", hora_tr);
                                            } else {
                                                hora13.style.backgroundColor = "red";
                                                obs.innerText = "Erro na recepção dos dados.";
                                                console.log("Entrou no else da case 13..", hora_tr);
                                            }
                                            break;
                                        case 12:
                                            if (hora_transmissao != null) {
                                                hora12.style.backgroundColor = "green";
                                                console.log("Entrou no if da case 12..", hora_tr);
                                            } else {
                                                hora12.style.backgroundColor = "red";
                                                obs.innerText = "Erro na recepção dos dados.";
                                                console.log("Entrou no else da case 12..", hora_tr);
                                            }
                                            break;
                                        case 11:
                                            if (hora_transmissao != null) {
                                                hora11.style.backgroundColor = "green";
                                                console.log("Entrou no if da case 11..", hora_tr);
                                            } else {
                                                hora11.style.backgroundColor = "red";
                                                obs.innerText = "Erro na recepção dos dados.";
                                                console.log("Entrou no else da case 11..", hora_tr);
                                            }
                                            break;
                                        case 10:
                                            if (hora_transmissao != null) {
                                                hora10.style.backgroundColor = "green";
                                                console.log("Entrou no if da case 10..", hora_tr);
                                            } else {
                                                hora10.style.backgroundColor = "red";
                                                obs.innerText = "Erro na recepção dos dados.";
                                                console.log("Entrou no else da case 10..", hora_tr);
                                            }
                                            break;
                                        case 9:
                                            if (hora_transmissao != null) {
                                                hora9.style.backgroundColor = "green";
                                                console.log("Entrou no if da case 9..", hora_tr);
                                            } else {
                                                hora9.style.backgroundColor = "red";
                                                obs.innerText = "Erro na recepção dos dados.";
                                                console.log("Entrou no else da case 9..", hora_tr);
                                            }
                                            break;
                                        case 8:
                                            if (hora_transmissao != null) {
                                                hora8.style.backgroundColor = "green";
                                                console.log("Entrou no if da case 8..", hora_tr);
                                            } else {
                                                hora8.style.backgroundColor = "red";
                                                obs.innerText = "Erro na recepção dos dados.";
                                                console.log("Entrou no else da case 8..", hora_tr);
                                            }
                                            break;
                                        case 7:
                                            if (hora_transmissao != null) {
                                                hora7.style.backgroundColor = "green";
                                                console.log("Entrou no if da case 7..", hora_tr);
                                            } else {
                                                hora7.style.backgroundColor = "red";
                                                obs.innerText = "Erro na recepção dos dados.";
                                                console.log("Entrou no else da case 7..", hora_tr);
                                            }
                                            break;
                                        case 6:
                                            if (hora_transmissao != null) {
                                                hora6.style.backgroundColor = "green";
                                                console.log("Entrou no if da case 6..", hora_tr);
                                            } else {
                                                hora6.style.backgroundColor = "red";
                                                obs.innerText = "Erro na recepção dos dados.";
                                                console.log("Entrou no else da case 6..", hora_tr);
                                            }
                                            break;
                                        case 5:
                                            if (hora_transmissao != null) {
                                                hora5.style.backgroundColor = "green";
                                                console.log("Entrou no if da case 5..", hora_tr);
                                            } else {
                                                hora5.style.backgroundColor = "red";
                                                obs.innerText = "Erro na recepção dos dados.";
                                                console.log("Entrou no else da case 5..", hora_tr);
                                            }
                                            break;
                                        case 4:
                                            if (hora_transmissao != null) {
                                                hora4.style.backgroundColor = "green";
                                                console.log("Entrou no if da case 4..", hora_tr);
                                            } else {
                                                hora4.style.backgroundColor = "red";
                                                obs.innerText = "Erro na recepção dos dados.";
                                                console.log("Entrou no else da case 4..", hora_tr);
                                            }
                                            break;
                                        case 3:
                                            if (hora_transmissao != null) {
                                                hora3.style.backgroundColor = "green";
                                                console.log("Entrou no if da case 3..", hora_tr);
                                            } else {
                                                hora3.style.backgroundColor = "red";
                                                obs.innerText = "Erro na recepção dos dados.";
                                                console.log("Entrou no else da case 3..", hora_tr);
                                            }
                                            break;
                                        case 2:
                                            if (hora_transmissao != null) {
                                                hora2.style.backgroundColor = "green";
                                                console.log("Entrou no if da case 2..", hora_tr);
                                            } else {
                                                hora2.style.backgroundColor = "red";
                                                obs.innerText = "Erro na recepção dos dados.";
                                                console.log("Entrou no else da case 2..", hora_tr);
                                            }
                                            break;
                                        case 1:
                                            if (hora_transmissao != null) {
                                                hora1.style.backgroundColor = "green";
                                                console.log("Entrou no if da case 1..", hora_tr);
                                            } else {
                                                hora1.style.backgroundColor = "red";
                                                obs.innerText = "Erro na recepção dos dados.";
                                                console.log("Entrou no else da case 1..", hora_tr);
                                            }
                                            break;
                                        case 0:
                                            if (hora_transmissao != null) {
                                                hora0.style.backgroundColor = "green";
                                                console.log("Entrou no if da case 0..", hora_tr);
                                            } else {
                                                hora0.style.backgroundColor = "red";
                                                obs.innerText = "Erro na recepção dos dados.";
                                                console.log("Entrou no else da case 0..", hora_tr);
                                            }
                                            break;
                                        default:

                                            break;
                                    }
                                }
                                td_estacao.classList.add("largura-coluna", "text-center");
                                td_tipo.classList.add("text-center");
                                obs.classList.add("largura-coluna", "text-center");
                            }
                            tr.appendChild(td_estacao);
                            tr.appendChild(td_tipo);
                            tr.appendChild(hora0);
                            tr.appendChild(hora1);
                            tr.appendChild(hora2);
                            tr.appendChild(hora3);
                            tr.appendChild(hora4);
                            tr.appendChild(hora5);
                            tr.appendChild(hora6);
                            tr.appendChild(hora7);
                            tr.appendChild(hora8);
                            tr.appendChild(hora9);
                            tr.appendChild(hora10);
                            tr.appendChild(hora11);
                            tr.appendChild(hora12);
                            tr.appendChild(hora13);
                            tr.appendChild(hora14);
                            tr.appendChild(hora15);
                            tr.appendChild(hora16);
                            tr.appendChild(hora17);
                            tr.appendChild(hora18);
                            tr.appendChild(hora19);
                            tr.appendChild(hora20);
                            tr.appendChild(hora21);
                            tr.appendChild(hora22);
                            tr.appendChild(hora23);
                            tr.appendChild(obs);
                            tbody.appendChild(tr);
                            tabela.appendChild(tbody);

                            console.log(estacao);
                            console.log(transmissao);

                            // Formatando a tabela
                            tabela.classList.add("table", "table-sm", "table-striped", "table-bordered", "border-dark");

                            // Inserir a tabela na div
                            document.getElementById("tabeladinamica").appendChild(tabela);
                        })
                })
                .catch(error => { console.error("Erro do gerar tabela: ", error) });

        }
        function limpardiv() {
            const box = document.getElementById("tabeladinamica");
            box.innerText = "";
        }
    </script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
        crossorigin="anonymous"></script>
</body>

</html>