/*
    Variáveis
*/
:root {
    --main-color: #2E8B57;
    --link-color: #666666;
    --text1: #999999;
    --highlight-text: #333333;
    --input-text: #555555;
    --white-color: #FFFFFF;
    --points-list: #CCCCCC;
    --line-input: #D9D9D9;
}

/*
    Zerar estilos
*/
* {
    margin: 0;
    padding: 0;
}

.ui-datepicker .ui-datepicker-title {
    color: black;
}

#header {
    background-image: url("");
    background-repeat: repeat-x;
    height: 75px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99;
}

#header .logo {
    position: absolute;
    left: 10px;
    top: 0;
}

#header a:not([role='menuitem']) {
    text-decoration: none;
    color: #000;
    font-weight: bold;
}

#header a:hover:not([role='menuitem']) {
    color: #fff;
}

#header .user-info {
    position: absolute;
    right: 0;
    top: 0;
    width: 450px;
    height: 60px;
    vertical-align: middle;
    text-align: left;
}

#header .app-tittle {
    position: absolute;
    left: 10px;
    top: 5px;
    height: 60px;
    font-family: 'Quicksand', sans-serif;
    font-weight: 500;
    font-size: 1.3em;
    color: white;
}

#header .app-tittle .bolder {
    font-weight: 800;
}







#conteudo-area {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11pt;
    color: black;
}

#conteudo-area .background-titulo {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18pt;
    color: #84c440;
    padding-top: 15px;
    padding-bottom: 5px;
    margin-bottom: 10px;
    border-bottom: 3px solid #00a0b7;
    border-bottom-color: rgb(0, 160, 183);
    border-bottom-style: solid;
    border-bottom-width: 3px;
}

#menu .rodape {
    position: absolute;
    bottom: 0;
    left: 100px;
    right: 0;
    height: 95px;
    padding: 10px;
}

#menu .scroll {
    max-height: calc(100% - 95px) !important;
}